<h2>Post details:</h2>
<br />
<p><small>Author: <%= @details.author %></small></p>
<p><%= @details.content %></p>
<p><small>Added at <%= @details.created_at %></small></p>
<br />
<br />
<br />
<h4>Comments:</h4>
<br />

<% @comments.each do |comment| %>
  <small><p><%= comment.author %></p></small>
  <p><%= comment.content %></p>
  <small><p><%= comment.created_at %></p></small>
  <hr />
<% end %>

<form action="/details/<%= @details.id %>" method="POST">
  <div class="form-floating">
    <textarea name="comment[author]" class="form-control" placeholder="Your name" id="floatingTextarea" style="height: 35px"><%= @comment.author %></textarea>
  </div>
  <br />
  <div class="form-floating">
    <textarea name="comment[content]" class="form-control" placeholder="Your comment..." id="floatingTextarea"><%= @comment.content %></textarea>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>