<br />
<strong class="d-inline-block mb-2 text-primary">Author: <%= @details.author %></strong>
<div class="mb-1 text-muted"><%= @details.created_at.strftime('%b %d') %></div>
<h3 class="mb-0"><%= @details.subject %></h3>
<br />
<p class="lead"><%= @details.content %></p>
<hr />
<br />
<form action="/details/<%= @details.id %>" method="POST">

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your name</label>
    <input name="comment[author]" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your comment</label>
    <textarea name="comment[content]" class="form-control" id="exampleFormControlTextarea1" placeholder="Leave your comment here..." rows="3"><%= @comment.content %></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<hr />
<h6>Comments:</h6>
<br />

<% @comments.each do |comment| %>
  <div>
    <small><p class="text-primary"><%= comment.author %></p></small>
    <p><%= comment.content %></p>
    <small><p class="text-secondary"><%= comment.created_at %></p></small>
  </div>
  <hr />
<% end %>